*{
  margin: 0;
  padding: 0;
}
.Header{
 background-image: url(/img/bg-header.png);
 height: 400px;
 width: 300px;
 background-size: cover;
 background-position: center;
}
 h1 {
  margin-left: 10px;
  padding: 40px;
}
.Header h2 {
  margin-top:-10px;
  margin-left: 50px;
  font-size: 35px;
}
.Header h3 {
  margin-left: 50px;
  font-size: 30px;
  margin-top: 20px;
}
.btn1{
  background-color:#1E18E3 ;
  color:#fff;
  font-size: 19px;
  margin-top: 0px;
  padding: 15px 30px;
  margin-left:30px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  display:block;
  overflow: hidden;
  }
  .div1 img{
    height: 320px;
    width: 300px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .div1 h1{
    font-size: 200px;
    margin-left: -10px;
  }
  .Experience{
    font-size: 20px;
    color:#000000;
    margin-top: -215px;
    margin-left: 240px;
    letter-spacing:5px;
    
  }
  .paragraph{
    margin-left: 25px;
    margin-top: 30px;
    font-size:18px;
    color: #87837F;
    margin-left: 30px;
    word-spacing: 2px;

  }
  .paragraph li{
    margin-top: 30px;
    margin-bottom: -10px;
    margin-left: 20px;
    list-style: decimal;
    
  }
  .btn2{
    background-color:#1E18E3;
    color:#fff;
    font-size: 19px;
    margin-top: 40px;
    padding: 15px 40px;
    margin-left:0px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    display:block;
    overflow: hidden;
  }
  .paragraph img{
   margin-top: 20px;
  width: auto;
  height: 320px;
  border-radius: 10px;
  
  }
  .client{
    margin-left: 30px;
   margin-top: 20px;
  }
   .client p{
    font-size: 18px;
    color: #726F6C;
    margin-top: 10px;
  }
    .project{
    margin-left: 30px;
   margin-top: 20px;
   word-spacing: 2px
  }
   .project p{
     word-spacing: 2px;
    font-size: 18px;
    color: #726F6C;
    margin-top: 10px;
  }
  .skill{
    margin-left: -15px;
    font-size: 20px;
   margin-top: 100px;
  }
  .skill p{
    margin-left: 45px;
    
  }
  .my_skill{
    margin-left: -15px;
  }
  
  .conteiner{
  margin-top: -60px;
  margin-left: 15px;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.skils h3{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #FF0000;
  font-family: Georgia;
  
}
.progress{
  width: 350px;
  height: 10px;
  background-color:#C0C0C0;
  border-radius:50px;
}
.progress div{
  height: 10px;
  width:0%;
  border-radius:5px;
}
.progress div span{
  height: 30px;
  width: 30px;
  border-radius:50px;
  background: #000000;
  float: right;
  margin-top: -12px;
  margin-right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
/*---------html background colo--------*/
.html{
background-color: #271EFF;
animation: html 1s linear forwards;
}
.css{
 background-color:#63FF47;
 animation: css 1s linear forwards;
}
.JavaScript{
background-color:#FF0909;
animation: JavaScript 1s linear forwards;
}
.payton{
background-color: #FF46D6;
animation: payton 1s linear forwards;
}
.react{
background-color: #00ffff;
animation: react 1s linear forwards;
}
/*-------sercel color-------*/
.html span{
  border: 1.5px solid #FF0000;
}
.css span{
  border: 1.5px solid #FF8686;
}
.JavaScript span {
  border: 1.5px solid #0B44FF;
}
.payton span {
  border: 1.5px solid #00ffff;
}
.react span {
  border: 1.5px solid #00870A;
}

/*----------animation-------*/
@keyframes html{
  100%{
    width: 86%;
  }
}
@keyframes css{
  100%{
    width: 74%;
  }
}
@keyframes JavaScript {
  100% {
    width: 65%;
  }
}
@keyframes payton {
  100% {
    width: 54%;
  }
}
@keyframes react {
  100% {
    width: 80%;
  }
}
.my_servise{
  margin-left: -15px;
}
.btn3{
  background-color:#484EDD;
  color:#fff;
  font-size: 19px;
  margin-top: 0px;
  padding: 15px 40px;
  margin-left: 50px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  display:block;
  overflow: hidden;
}
.digain{
height: 250px;
width: 300px;
background-color: #ECEEF2;
margin-left: 40px;
margin-top: 20px;

  
}
.digain img{
  height: 90px;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
}
.digain h2{
  margin-left: 10px;
  margin-top: 10px;
}

.digain h3{
  font-size: 21px;
  margin-top: 10px;
  margin-left: 10px;
}
.digain p{
  font-size: 16px;
  margin-top: 10px;
  word-spacing: 8;
  margin-left: 10px;
  color: #93959F;
}

.Project_list h1 {
margin-left: -4px;
 }

.Project_list a{
  margin-left: 30px;
  color: #1B2BDF;
  font-size: 20px;
}
.Project_list h3{
  margin-left:120px;
  font-size: 18px;
  margin-top: -18px;
  font-size: 20px;
}
.Project_list h4{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
}
.project_img img{
  margin-top: 20px;
  width: auto;
  height: 320px;
  border-radius: 10px;
  margin-left: 30px;
  
}
.Team_Member h1{
  font-size: 30px;
  margin-left: -15px;
}
.btn4{
  background-color:#484EDD;
  color:#fff;
  font-size: 19px;
  margin-top: 0px;
  padding: 15px 50px;
  margin-left: 25px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  display:block;
  overflow: hidden;
}
.Team_Member img{
  margin-top: 20px;
  width: 300px;
  height: 340px;
  border-radius: 10px;
  margin-left: 35px;
}
.test img{
  margin-top: 0px;
  height: 80px;
  width: 80px;
  margin-left: 150px;
  border: 2px solid #D97506;
  border-radius: 50px;
}
.test h1{
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}
.test h3{
  font-size: 20px;
  word-spacing: 3px;
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color:#73747B;
}
.test h2 {
  text-align: center;
  margin-top: 50px;
}
.test h4{
  margin-top: 5px;
  text-align: center;
  color:#8C8680;
}
.merbel1{
 height: 20px;
 width: 20px;
 background-color:#15DC61;
 border-radius: 50px;
 margin-left: 140px;
 margin-top: 50px;
 border: 3px solid #D91212;
 }
 .merbel2{
 height: 20px;
 width: 20px;
 background-color:#3815DC;
 border-radius: 50px;
 margin-left: 170px;
 margin-top: -25px;
 border: 3px solid #D91212;
 }
 .merbel3{
 height: 20px;
 width: 20px;
 background-color:#FFCE04;
 border-radius: 50px;
 margin-left: 200px;
 margin-top: -25px;
 border: 3px solid #D91212;
 }
 .Location h1{
  margin-top: 80px; 
  font-size: 35px;
 }
 .btn5{
   background-color:#484EDD;
   color:#fff;
   font-size: 19px;
   margin-top: 0px;
   padding: 15px 50px;
   margin-left: 50px;
   border-radius: 10px;
   border: 1px solid #fff;
   text-decoration: none;
   display:block;
   overflow: hidden;
 }
 .Location_pase p{
   font-size: 20px;
   margin-top: 50px;
   margin-left: 50px;
   color:#B0A9AF;
 }
 .Location_pase h2{
   font-size: 25px;
   margin-top: 15px;
   margin-left: 50px;
 }
 .underline{
   height: 2px;
   width: 300px;
   background-color:#000000;
   margin-top: 10px;
   display: block;
   margin-bottom: -20px;
   margin-left: 50px;
 }
 .Location_pase h3{
   margin-top: 40px;
   margin-left: 50px;
   color: #B0A9AF;
 }
 .Follow_icon img{
   height: 20px;
   width: 20px;
   color: #fff;
   background-color: #726F79;
   margin-left: 50px;
   border-radius: 5px;
   padding: 10px;
   margin-right: -40px;
   margin-top: 20px;
 } 
 .Follow_icon p{
   margin-top: 70px;
   font-size: 20px;
   margin-left: 50px;
   color:#7C7D87;
   margin-left: 50px;
   word-spacing: 4px;
 }
 .Contact_From input{
   margin-top: 40px;
   width: 270px;
   font-size: 18px;
   padding: 20px;
   margin-left: 50px;
   border-radius: 10px;
   border: 1px solid #7C7D87;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
 .btn6{
   background-color:#484EDD;
   color:#fff;
   font-size: 19px;
   margin-top: 10px;
   padding: 15px 40px;
   margin-left: 50px;
   border-radius: 10px;
   border: 1px solid #fff;
   text-decoration: none;
   display:block;
   overflow: hidden;
 }
 .further{
   height: 200px;
   width: auto;
   background-color: #222620;
   margin-top: 40px;
 }